<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <button mat-button [routerLink]="['']">My App</button></span>
    <span class="espacamento"></span>
    <button mat-button [matMenuTriggerFor]="menu" mat-icon-button class="button" >
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/listagem-cursos']">Cursos</button>
        <button mat-menu-item [routerLink]="['/login']">Login</button>
        <button mat-menu-item [routerLink]="['/cadastro']">Cadastro</button>
        <button mat-menu-item [routerLink]="['/adicao-cursos']">Adicionar</button>
      </mat-menu>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>