.cards {
  width: 450px;
  height: 400px;
  color: #fff;
}
.cards1{
  background-color: #7B1FA2;
}

.container {
  padding: 160px;
  margin-top: -350px;
}

.img {
 width: 481px; 
 height: 260px;

}
.acoes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
