<mat-grid-list cols="2" style="padding-top: 3%;">
    <mat-grid-tile rowspan="1">
        <img class="foto1" [src]="imagem" alt="">
    </mat-grid-tile>

    <mat-grid-tile rowspan="1">
        <div class="form-wrapper container">
            <h2><strong>Cadastro</strong></h2>


            <form #form="ngForm">
                <mat-form-field appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input name="nome" matInput [(ngModel)]="user.nome" required />
                    <mat-error ng-show="form.nome.$error.required">Campo obrigatório</mat-error>
                    <mat-icon matPrefix>person</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>NICK</mat-label>
                    <input name="NICK" matInput [(ngModel)]="user.nick" required />
                    <mat-error ng-show="form.NICK.$error.required">Nick obrigatório</mat-error>
                    <mat-icon matPrefix>pin_drop</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input name="email" matInput [(ngModel)]="user.email" required email="true" />
                    <mat-error ng-show="form.email.$error.email"> Email invalido</mat-error>
                    <mat-icon matPrefix>email</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input name="senha" matInput required minlength="8" [(ngModel)]="user.senha"
                        [type]="hide ? 'password' : 'text'">
                    <mat-error ng-show="form.senha.$error.minlength">Minimo de 8 caracteres</mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button type="submit" [routerLink]="['/listagem-cursos']" class="btnLoginBG" mat-raised-button
                    (click)="onSubmit()" [disabled]="form.invalid">
                    Cadastrar
                </button>
            </form>